:root {
  --title-font: "Poppins", sans-serif;
  --text-font: "Lato", sans-serif;
  --primary-color: #3389FF;
  --title-color: #161618;
  --text-color: #AAAAAA;
  --border-color: #D1D1D1;
  --light-border-color: #E5E5E5;
  --light-text-color: #ffffff;
  --footer-bg-color: #161618;
  --footer-height: 60px;
  --roboto-font: "Roboto", sans-serif;
}

body {
  font-family: var(--text-font);
  font-style: normal;
  font-size: 14px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

body > .container {
  flex: 1 0 auto;
}

body.pushable > .pusher {
  min-height: auto;
  overflow: visible;
}

.ui.grid {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ui.items > .item .meta {
  color: var(--text-color);
}

.ui.card {
  border-radius: 0px;
  width: 100%;
  box-shadow: none;
  border: 1px solid var(--border-color);
}

span.ui.text.small {
  font-size: 12px;
}

.ui.header,
.ui.items > .item > .content > a.header,
.ui.card > .content > .header,
.ui.list > .item a.header,
h1, h2, h3, h4, h5 {
  color: var(--title-color);
  font-family: var(--title-font);
}
.ui.header:hover,
.ui.items > .item > .content > a.header:hover,
.ui.card > .content > .header:hover,
.ui.list > .item a.header:hover,
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover {
  color: var(--title-color);
}

.ui.visible.wide.right.sidebar ~ .fixed, .ui.visible.wide.right.sidebar ~ .pusher {
  transform: translate3d(-360px, 0, 0);
}

.ui.wide.left.sidebar, .ui.wide.right.sidebar {
  width: 360px;
}

.widget.ui.segment {
  border-radius: 0;
  box-shadow: none;
  padding-left: 28px;
  padding-right: 28px;
}
.widget h1 {
  font-family: var(--title-font);
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-color);
  margin-bottom: 0;
}
.widget .widget-head.dividing.header {
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
}
.widget .widget-head.dividing.header h2.ui.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 0;
}
.widget .widget-head.dividing.header:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 30px;
  background-color: var(--primary-color);
}
.widget .widget-body .ui .meta {
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
}