body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #AAAAAA;
  display: flex;
  flex-direction: column;
}

body > .container {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: #161618;
  font-family: "Poppins", sans-serif;
}

h2,
h3,
h4,
h5 {
  margin: 0;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 20px;
}

.ui.grid {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
  padding-left: 10px;
  padding-right: 10px;
}

.ui.items > .item .meta {
  color: #AAAAAA;
}

.ui.card {
  border-radius: 0px;
  width: 100%;
  box-shadow: none;
  border: 1px solid #D1D1D1;
}

.widget.ui.segment {
  border-radius: 0;
  box-shadow: none;
  padding-left: 28px;
  padding-right: 28px;
}

.widget .widget-head.dividing.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
}

.widget .widget-head.dividing.header .icon.badge {
  color: #3389FF;
  font-size: 1em;
}

.widget .widget-head.dividing.header h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #3389FF;
  margin-bottom: 0;
}

.widget .widget-head.dividing.header:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 30px;
  background-color: #3389FF;
}

.widget .widget-body .ui .meta {
  color: #AAAAAA;
  margin-top: 0;
}

.widget .widget-body .ui .meta.stats {
  display: flex;
  justify-content: space-between;
}

.widget .widget-body .ui .meta.stats .popularity {
  display: flex;
  align-items: center;
}

.widget .widget-body .ui .meta.stats .popularity .item {
  margin: 0 10px 0 0;
  align-items: center;
  font-size: 1em;
  line-height: 1.16em;
}

.widget .widget-body .ui .meta.stats .popularity .item:last-of-type {
  margin: 0;
}

