.header {
  margin-bottom: 40px;
}
.header .ui.label {
  border-radius: 0;
  white-space: nowrap;
}
.header .menu.top-menu {
  box-shadow: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
}
.header .menu.top-menu .item.date {
  color: var(--text-color);
}
.header .menu.top-menu .item > img {
  width: 20px;
  margin-right: 10px;
}
.header .navigation .status {
  display: flex;
  align-items: center;
}
.header .navigation .ui.horizontal.segments {
  margin: 0;
}
.header .navigation .ui.horizontal.segments .live-status {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  line-height: 0;
}
.header .navigation .ui.horizontal.segments .song-info {
  height: 50px;
  width: 270px;
  padding: 5px 10px;
}
.header .navigation .ui.horizontal.segments .song-info h5, .header .navigation .ui.horizontal.segments .song-info .artist {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.header .navigation .horizontal-nav {
  border-radius: 0;
}
.header .navigation .horizontal-nav .item {
  font-family: var(--title-font);
  text-transform: uppercase;
  padding: 20px 10px;
  line-height: 19px;
  border-radius: 0;
}
.header .navigation .horizontal-nav .item:first-child {
  padding-left: 20px;
}
.header .navigation .horizontal-nav .item.active {
  border-bottom: 3px solid var(--primary-color);
  background: inherit;
}
.header .navigation .horizontal-nav .right.menu .button {
  border-radius: 0;
  padding-left: 80px !important;
}
.header .navigation .horizontal-nav .right.menu .button .play.icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
}