.last-news .ui.label {
  border-radius: 0;
  text-transform: uppercase;
}

.last-news .widget-head .submenu {
  display: flex;
  align-items: center;
}

.last-news .widget-head .submenu-link {
  color: #161618;
  padding: 0 10px;
  font-size: 14px;
}

.last-news .widget-head .submenu-link.active {
  color: #3389FF;
}

.last-news .widget-head .submenu-nav {
  color: #AAAAAA;
  padding: 0 10px;
}

.last-news .widget-body .label {
  position: absolute;
  top: 10px;
  left: 8px;
}

.last-news .widget-body .items.short-news .item > .image + .content {
  padding-left: 10px;
}

.last-news .widget-body .items.short-news .item > .image {
  width: 120px;
}

.last-news .widget-body .items.short-news .item .meta {
  margin-bottom: 5px;
  font-size: 12px;
}

.last-news .widget-body .main-new .ui.placeholder {
  max-width: 100%;
}

.last-news .widget-body .main-new .label {
  top: 30px;
  left: 30px;
}

.last-news .widget-body .main-new .meta.stats {
  padding: 13px 0 10px;
}

