.last-news .ui.label {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 8px;
  padding: 5px 7px;
}

.last-news .widget-head .submenu {
  display: flex;
  align-items: center;
}

.last-news .widget-head .submenu-link {
  color: #161618;
  padding: 0 10px;
  font-size: 14px;
}

.last-news .widget-head .submenu-link.active {
  color: #3389FF;
}

.last-news .widget-head .submenu-nav {
  color: #AAAAAA;
  padding: 0 10px;
}

.last-news .widget-head .submenu-nav i {
  cursor: pointer;
}

.last-news .widget-body .meta .statistics {
  display: flex;
  align-items: center;
}

.last-news .widget-body .meta .statistics .item {
  margin: 0 10px 0 0;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
}

.last-news .widget-body .meta .statistics .item:last-of-type {
  margin: 0;
}

.last-news .widget-body .meta .statistics .item i {
  margin: 0 5px 0 0;
  font-size: 11px;
  line-height: 13px;
}

.last-news .widget-body .label {
  position: absolute;
  top: 10px;
  left: 8px;
}

.last-news .widget-body .items .item > .image + .content {
  padding-left: 10px;
}

.last-news .widget-body .items .item > .image {
  width: 120px;
}

.last-news .widget-body .items .item .meta {
  margin: 0 0 5px;
}

.last-news .widget-body .main-new label {
  top: 30px;
  left: 30px;
}

.last-news .widget-body .main-new .meta {
  padding: 13px 0 10px;
}

