.last-news .ui.label {
  border-radius: 0;
  text-transform: uppercase;
}

.last-news .widget-head .ui.text.menu {
  margin: 0;
  min-height: auto;
}

.last-news .widget-head .ui.text.menu .item:not(.active) {
  color: var(--title-color);
}

.last-news .widget-head .ui.text.menu.arrows {
  font-size: 20px;
  min-height: auto;
}

.last-news .widget-head .ui.text.menu.arrows .item {
  color: var(--text-color);
}

.last-news .widget-body .ui.label.floating {
  transform: none;
  top: 10px;
  left: 8px;
}

.last-news .widget-body .items.short-news .item > .image + .content {
  padding-left: 10px;
}

.last-news .widget-body .items.short-news .item > .image {
  width: 120px;
}

.last-news .widget-body .items.short-news .item .meta {
  margin-bottom: 5px;
}

.last-news .widget-body .main-new .ui.placeholder {
  max-width: 100%;
}

.last-news .widget-body .main-new .label {
  top: 30px;
  left: 30px;
}

