.latest-videos .widget-body .main-video_wrapper {
  position: relative;
}

.latest-videos .widget-body .main-video_wrapper .header-overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 67.78%);
}

.latest-videos .widget-body .main-video_wrapper .header-overlay h1 {
  position: absolute;
  left: 24px;
  bottom: 36px;
  max-width: 70%;
  color: #ffffff;
}

@media (max-width: 540px) {
  .latest-videos .widget-body .main-video_wrapper .header-overlay h1 {
    font-size: 18px;
    max-width: 100%;
    bottom: 16px;
  }
}

@media (min-width: 541px) and (max-width: 620px) {
  .latest-videos .widget-body .main-video_wrapper .header-overlay h1 {
    font-size: 22px;
    max-width: 90%;
    bottom: 26px;
  }
}

.latest-videos .widget-body .main-video_wrapper .header-overlay .meta {
  position: absolute;
  left: 25px;
  bottom: 13px;
  right: 30px;
  color: #ffffff;
}

@media (max-width: 540px) {
  .latest-videos .widget-body .main-video_wrapper .header-overlay .meta {
    font-size: 14px;
    bottom: 7px;
  }
}

.latest-videos .widget-body .additional-videos {
  margin-top: 20px;
}

.latest-videos .widget-body .additional-videos .card {
  border: none;
}

.latest-videos .widget-body .additional-videos .card .content {
  padding: 0;
}

.latest-videos .widget-body .additional-videos .card .meta {
  padding: 17px 0 13px;
}

