.most-viewed .widget-body .ui.items > .item .meta {
  margin-bottom: 5px;
  overflow: hidden;
}
.most-viewed .widget-body .ui.items > .item > .image {
  width: 130px;
}
.most-viewed .widget-body .ui.items > .item > .image + .content {
  padding-left: 15px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .most-viewed .widget-body .ui.items > .item {
    display: block;
  }
  .most-viewed .widget-body .ui.items > .item > .image {
    width: 100%;
  }
  .most-viewed .widget-body .ui.items > .item > .image + .content {
    padding-top: 10px;
    padding-left: 0;
  }
}