body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #AAAAAA;
  display: flex;
  flex-direction: column;
}

body > .container {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: #161618;
  font-family: "Poppins", sans-serif;
}

h2,
h3,
h4,
h5 {
  margin: 0;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 20px;
}

.ui.grid {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -10px;
  margin-right: -10px;
}

.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.ui.items > .item .meta {
  color: #AAAAAA;
}

.ui.card {
  border-radius: 0px;
  width: 100%;
  box-shadow: none;
  border: 1px solid #D1D1D1;
}

.ui.visible.wide.right.sidebar ~ .fixed,
.ui.visible.wide.right.sidebar ~ .pusher {
  transform: translate3d(-360px, 0, 0);
}

.ui.wide.left.sidebar,
.ui.wide.right.sidebar {
  width: 360px;
}

.widget.ui.segment {
  border-radius: 0;
  box-shadow: none;
  padding: 20px 28px;
  margin-top: 40px;
}

.widget.ui.segment:first-child {
  margin-top: 0;
}

.widget.ui.segment.basic {
  padding: 0;
}

.widget-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
}

.widget-head .icon.badge {
  color: #3389FF;
}

.widget-head h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #3389FF;
  margin-bottom: 0;
}

.widget-head:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 30px;
  background-color: #3389FF;
}

.widget-body .meta {
  display: flex;
  justify-content: space-between;
  color: #AAAAAA;
  padding: 13px 0 10px;
}

.widget-body .meta.stats .popularity {
  display: flex;
  align-items: center;
}

.widget-body .meta.stats .popularity .item {
  margin: 0 10px 0 0;
  align-items: center;
  font-size: 1em;
  line-height: 1.16em;
}

.widget-body .meta.stats .popularity .item:last-of-type {
  margin: 0;
}


.last-news .ui.label {
  border-radius: 0;
  text-transform: uppercase;
}

.last-news .widget-head .submenu {
  display: flex;
  align-items: center;
}

.last-news .widget-head .submenu-link {
  color: #161618;
  padding: 0 10px;
  font-size: 14px;
}

.last-news .widget-head .submenu-link.active {
  color: #3389FF;
}

.last-news .widget-head .submenu-nav {
  color: #AAAAAA;
  padding: 0 10px;
}

.last-news .widget-body .label {
  position: absolute;
  top: 10px;
  left: 8px;
}

.last-news .widget-body .items.short-news .item > .image + .content {
  padding-left: 10px;
}

.last-news .widget-body .items.short-news .item > .image {
  width: 120px;
}

.last-news .widget-body .items.short-news .item .meta {
  margin: 0 0 5px;
  font-size: 12px;
  padding: 0;
}

.last-news .widget-body .main-new .ui.placeholder {
  max-width: 100%;
}

.last-news .widget-body .main-new .label {
  top: 30px;
  left: 30px;
}


.header {
  margin-bottom: 54px;
}

.header .ui.label {
  border-radius: 0;
  white-space: nowrap;
}

.header .menu.top-menu {
  box-shadow: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
}

.header .menu.top-menu .item.date {
  color: #AAAAAA;
}

.header .menu.top-menu .item > img {
  width: 20px;
  margin-right: 10px;
}

.header .navigation .status {
  display: flex;
  align-items: center;
}

.header .navigation .ui.horizontal.segments {
  margin: 0;
}

.header .navigation .ui.horizontal.segments > .segment {
  border-left: none;
  padding: 0;
}

.header .navigation .ui.horizontal.segments > .segment.live-status {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: flex-end;
  line-height: 0;
}

.header .navigation .ui.horizontal.segments > .segment .song-info {
  height: 50px;
  padding: 5px 10px;
}

.header .navigation .ui.horizontal.segments > .segment .song-info h5,
.header .navigation .ui.horizontal.segments > .segment .song-info .artist {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header .navigation .ui.horizontal.segments > .segment .buttons {
  padding: 15px 0;
}

.header .navigation .horizontal-nav {
  border-radius: 0;
}

.header .navigation .horizontal-nav .item {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 20px 10px;
  line-height: 19px;
  border-radius: 0;
}

.header .navigation .horizontal-nav .item:first-child {
  padding-left: 20px;
}

.header .navigation .horizontal-nav .item.active {
  border-bottom: 3px solid #3389FF;
  background: inherit;
}

.header .navigation .horizontal-nav .right.menu .button {
  border-radius: 0;
  padding-left: 80px !important;
}

.header .navigation .horizontal-nav .right.menu .button .play.icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
}


.footer {
  height: 60px;
  background-color: #161618;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-top: 80px;
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .container .copy {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.footer .container .copy .copyright {
  font-size: 14px;
  line-height: 16px;
  margin-right: 10px;
}


.upcoming-events .ui.grid > .column {
  display: flex;
}

.upcoming-events .card {
  flex: 1 1 auto;
}

.upcoming-events .card .content {
  padding: 24px 30px 30px;
}

.upcoming-events .card .event-labels {
  margin-top: 15px;
  margin-bottom: 13px;
}

.upcoming-events .card > .image {
  border-radius: 0px !important;
}



.chat .widget-head {
  margin-bottom: 0;
}

.chat .ui.feed {
  max-height: 555px;
  overflow: auto;
  margin-bottom: 25px;
}

.chat .ui.feed > .event {
  align-items: flex-end;
}

.chat .ui.feed > .event > .label {
  align-self: unset;
}

.chat .ui.feed > .event > .label img {
  border-radius: 0;
}

.chat .ui.feed > .event > .label + .content {
  margin-top: 16px;
  margin-bottom: 0;
}

.chat .ui.feed > .event > .label + .content .message {
  padding: 8px 15px;
  border: 1px solid #D1D1D1;
  border-radius: 5px 5px 5px 0;
  display: inline-block;
}

.chat .ui.feed > .event > .label + .content .message.highlighted {
  background: rgba(252, 214, 81, 0.2);
  border-color: #FCD651;
}

.chat .ui.feed > .event > .label + .content .message.highlighted .admin {
  font-weight: bold;
  font-size: 7px;
  background-color: #E85343;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 8px;
  padding: 1px 4px;
  margin-left: 5px;
  border-radius: 2px;
}

.chat .ui.feed > .event > .label + .content .message .info {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  line-height: 12px;
}

.chat .ui.feed > .event > .label + .content .message .text {
  color: #161618;
}

.chat .form {
  display: flex;
  justify-content: space-between;
}

.chat .form .field.input {
  margin-bottom: 0;
  margin-right: 25px;
  flex: 1 1 auto;
}


.latest-galleries .widget-head .arrows {
  font-size: 20px;
}

.latest-galleries .card .content {
  padding: 0 20px 13px;
}

.latest-galleries .card > .image {
  border-radius: 0px !important;
}


.sidebar-radio {
  background: #ffffff !important;
  display: flex;
  flex-direction: column;
}

.sidebar-radio h5 {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.sidebar-radio .card {
  border: 0;
}

.sidebar-radio .card > .content {
  flex-grow: 0;
}

.sidebar-radio .menu {
  margin: 0;
  height: 40px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

.sidebar-radio .menu > .indicator {
  margin: 10px 0 10px 10px;
  border-radius: 0;
  font-size: 12px;
  padding: 3px 8px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar-radio .menu > .time {
  padding: 3px 7px;
  margin: 10px 0px 10px 10px;
  border-radius: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.sidebar-radio .menu > .right.menu > .ui.icon {
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  border-left: 1px solid #E5E5E5;
  margin: 0;
  height: 100%;
  padding: 13px 0 14px;
  width: 41px;
}

.sidebar-radio .player {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(22, 22, 24, 0.384) 100%);
  mix-blend-mode: normal;
  height: 220px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #ffffff;
}

.sidebar-radio .player > .title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 34px 60px 0;
  word-spacing: 1px;
}

.sidebar-radio .player > .artist {
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 18px;
}

.sidebar-radio .player .play-btn {
  margin-top: 20px;
}

.sidebar-radio .channel-name {
  padding: 4px 16px;
  font-family: "Poppins", sans-serif;
}

.sidebar-radio .channel-name > img {
  width: 20px !important;
  height: 20px !important;
  margin-right: 7px;
}

.sidebar-radio .controls {
  padding: 3.5px 3px 0;
  margin: 0;
}

.sidebar-radio .controls > .quality > .quality-dropdown,
.sidebar-radio .controls .volume > .sidebar-volume {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  margin-top: 4px;
  min-width: 100%;
}

.sidebar-radio .controls > .quality {
  padding-right: 20px !important;
}

.sidebar-radio .controls > .quality > .quality-dropdown {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #7A7A7A;
  padding: 7px 8px 7px 14px;
  min-height: 30px;
  margin-top: 6px;
}

.sidebar-radio .controls > .quality > .quality-dropdown > .menu {
  border: 1px solid #E5E5E5;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  font-family: "Lato", sans-serif;
  height: auto;
}

.sidebar-radio .controls > .quality > .quality-dropdown > .menu > .item {
  padding: 7px 8px 7px 14px !important;
  font-size: 12px;
  line-height: 14px;
}

.sidebar-radio .controls > .volume {
  padding-left: 0 !important;
}

.sidebar-radio .controls > .volume > .sidebar-volume {
  padding: 7px 12px 7px 12px;
  margin-top: 6px;
}

.sidebar-radio .controls > .volume > .sidebar-volume > .inner > .track {
  background: #D1D1D1;
}

.sidebar-radio .controls > .volume > .sidebar-volume > .inner > .track-fill {
  background: #3389FF;
}

.sidebar-radio .controls > .volume > .sidebar-volume > .inner > .thumb {
  background: #1565D2;
}

.sidebar-radio .description {
  font-size: 12px;
  line-height: 16px;
  color: #7A7A7A !important;
  padding: 20px 16px 0;
}

.sidebar-radio .contacts {
  margin: 0px;
  padding: 13px 16px 0 16px;
}

.sidebar-radio .contacts .list {
  border-top: 0 !important;
}

.sidebar-radio .contacts .list > .item {
  margin-top: 12px;
  font-size: 12px;
  line-height: 14px;
  color: #7A7A7A;
  padding: 0 !important;
}

.sidebar-radio .contacts .list > .item:not(:first-child) {
  margin-left: 12px;
}

.sidebar-radio .broadcasters {
  padding: 8px 10px 5px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.sidebar-radio .broadcasters .list {
  margin: 22px 0 0 0;
  flex: 1;
  overflow-y: scroll;
}

.sidebar-radio .broadcasters .list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.sidebar-radio .broadcasters .list::-webkit-scrollbar-track-piece {
  background: #fff;
}

.sidebar-radio .broadcasters .list .item {
  padding: 15px 0;
  margin-right: 13px;
}

.sidebar-radio .broadcasters .list .item:first-child {
  padding-top: 0;
}

.sidebar-radio .broadcasters .list .item > img {
  width: 34px;
  height: 34px;
}

.sidebar-radio .broadcasters .list .item > .content {
  font-family: "Lato", sans-serif;
  margin-left: 7px;
  font-size: 12px;
  line-height: 18px;
  color: #7A7A7A;
}

