body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #AAAAAA;
  height: 100%;
  min-height: 100%;
  padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #161618;
}

h5 {
  margin-top: 0;
}

.widget {
  border: 1px solid #D1D1D1;
  padding: 20px 28px;
}

.widget-head {
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.widget-head h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #3389FF;
  margin-bottom: 0;
}

.widget-head:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 30px;
  background-color: #3389FF;
}

.ui.label {
  border-radius: 0;
  text-transform: uppercase;
}


.last-news .widget-head {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.last-news .widget-head .submenu {
  display: flex;
  align-items: center;
}

.last-news .widget-head .submenu-link {
  color: #161618;
  padding: 0 10px;
  font-size: 14px;
}

.last-news .widget-head .submenu-link.active {
  color: #3389FF;
}

.last-news .widget-head .submenu-nav {
  color: #AAAAAA;
  padding: 0 10px;
}

.last-news .widget-head .submenu-nav i {
  cursor: pointer;
}

.last-news .widget-body .meta {
  display: flex;
  justify-content: space-between;
  color: #AAAAAA;
}

.last-news .widget-body .meta .statistics {
  display: flex;
  align-items: center;
}

.last-news .widget-body .meta .statistics .item {
  margin: 0 10px 0 0;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
}

.last-news .widget-body .meta .statistics .item:last-of-type {
  margin: 0;
}

.last-news .widget-body .meta .statistics .item i {
  margin: 0 5px 0 0;
  font-size: 11px;
  line-height: 13px;
}

.last-news .widget-body .label {
  position: absolute;
  top: 10px;
  left: 8px;
}

.last-news .widget-body .items .item > .image + .content {
  padding-left: 10px;
}

.last-news .widget-body .items .item > .image {
  width: 120px;
}

.last-news .widget-body .items .item .meta {
  margin: 0 0 5px;
}

.last-news .widget-body .main-new label {
  top: 30px;
  left: 30px;
}

.last-news .widget-body .main-new .meta {
  padding: 13px 0 10px;
}


.header {
  margin-bottom: 54px;
}

.header .ui.segment {
  border-radius: 0;
}


.footer {
  height: 60px;
  background-color: #161618;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .container .copy {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.footer .container .copy .copyright {
  font-size: 14px;
  line-height: 16px;
  margin-right: 10px;
}

