.upcoming-events .ui.grid > .column {
  display: flex;
}

.upcoming-events .card {
  flex: 1 1 auto;
}

.upcoming-events .card .content {
  padding: 24px 30px 30px;
}

.upcoming-events .card .event-labels {
  margin-top: 15px;
  margin-bottom: 13px;
}

.upcoming-events .card > .image {
  border-radius: 0px !important;
}

