@import './variables';

body {
    font-family: $textFont;
    font-style: normal;
    font-size: 14px;
    color: $textColor;
    display: flex;
    flex-direction: column;
}

body > .container {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5 {
    color: $titleColor;
    font-family: $titleFont;
}

h5 {
    margin-top: 0;
}

.ui.grid {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
}

.ui.grid>.column:not(.row), 
.ui.grid>.row>.column {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.widget {
    margin-bottom: 40px;

    &.bordered {
        border: 1px solid $borderColor;
        padding: 20px 28px;
    }

    &-head {
        border-bottom: 1px solid $borderColor;
        padding-bottom: 20px;
        margin-bottom: 30px;
        position: relative;
        
        h1 { 
            font-family: $titleFont;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: $primaryColor;
            margin-bottom: 0;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0; 
            bottom: -1px;
            height: 2px;
            width: 30px;
            background-color: $primaryColor;
        }
    }
}