@import './variables';

body {
    font-family: $textFont;
    font-style: normal;
    font-size: 14px;
    color: $textColor;
    display: flex;
    flex-direction: column;
}

body > .container {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5 {
    color: $titleColor;
    font-family: $titleFont;
}

h2, h3, h4, h5 {
    margin: 0;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 20px;
}

.ui.grid {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
}

.ui.grid > .column:not(.row), 
.ui.grid > .row>.column {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.ui.items > .item .meta {
    color: $textColor;
}

.ui.card {
    border-radius: 0px;
    width: 100%;
    box-shadow: none;
    border: 1px solid $borderColor;
}

.ui.visible.wide.right.sidebar~.fixed, .ui.visible.wide.right.sidebar~.pusher {
    -webkit-transform: translate3d(-360px,0,0);
    transform: translate3d(-360px,0,0);
}

.ui.wide.left.sidebar, .ui.wide.right.sidebar {
    width: 360px;
}

.widget {        
    &.ui.segment {
        border-radius: 0;
        box-shadow: none;
        padding: 20px 28px;
        margin-top: 40px;

        &:first-child {
            margin-top: 0;
        }

        &.basic {
            padding: 0;
        }
    }

    &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $borderColor;
        padding-bottom: 20px;
        margin-bottom: 30px;
        position: relative;

        .icon.badge {
            color: $primaryColor;
        }
        
        h1 { 
            font-family: $titleFont;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: $primaryColor;
            margin-bottom: 0;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0; 
            bottom: -1px;
            height: 2px;
            width: 30px;
            background-color: $primaryColor;
        }
    }

    &-body {
        .meta {
            display: flex;
            justify-content: space-between;
            color: $textColor;
            padding: 13px 0 10px;

            &.stats {
                .popularity {
                    display: flex;
                    align-items: center;
            
                    .item {
                        margin: 0 10px 0 0;
                        align-items: center;
                        font-size: 1em;
                        line-height: 1.16em;
            
                        &:last-of-type {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}