.chat {
    .widget-head.dividing.header {
        margin-bottom: 0;
    }

    .ui.comments {
        max-height: 415px;
        max-width: 100%;
        overflow: auto;
        margin-bottom: 25px;

        & > .comment {
            display: flex;
            align-items: flex-end;

            &:first-child {
                margin: .5em 0 0;
                padding: .5em 0 0; 
            }

            .text {
                font-size: 12px;
                margin: 0;
            }

            & > .avatar {
                align-self: unset;
                
                ~ .content {
                    margin-left: 15px;
                    max-width: 75%;
                    padding: 8px 15px;
                    border: 1px solid var(--border-color);
                    border-radius: 5px 5px 5px 0; 
                    display: inline-block;

                    .author {
                        color: var(--text-color);
                    }

                    &.highlighted {
                        background: rgba(252, 214, 81, 0.2);
                        border-color: #FCD651;

                        .admin {
                            font-weight: bold;
                            font-size: 7px;
                            background-color: #E85343;
                            text-transform: uppercase;
                            line-height: 8px;
                            padding: 1px 4px;
                            margin-left: 5px;
                            border-radius: 2px;
                        }
                    }

                    .info {
                        display: flex;
                        justify-content: space-between;
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }
        }
    }

    .form {
        display: flex;
        justify-content: space-between;

        .field.input {
            margin-bottom: 0;
            margin-right: 25px;
            flex: 1 1 auto;
        }
    }
}