.ui.notification {
    .menu {
        max-width: 300px;
        .divider {
            margin: .5em 16px 0;
        }
        .item {
            width: 300px;

            .icon {
                border: 2px solid #C4C4C4;
                border-radius: 50%;
                padding: 7px 3px;
                width: 35px;
                height: 35px;
                color: var(--primary-color);
            }

            .text.title {
                white-space: normal;
                max-width: 210px;
                display: inline-block;
                position: relative;
                padding-bottom: 20px;

                .time {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}