.follow-us {
    .widget-body {
        .social-buttons {
            max-width: 320px;
            margin: 0 auto;

            .ui.labeled.icon.button {
                border-radius: 2px;
                padding: 9px 19px 9px 45px !important;
                text-align: left;
                color: #ffffff;

                > .icon {
                    top: 50%;
                    background: none;
                    transform: translateY(-50%);
                    height: auto; 
                    width: 45px;
                }

                .text.small {
                    font-size: 10px;
                    font-weight: normal;
                }

                &.dribbble {
                    background: #F65A91;
                }

                &.vimeo {
                    background: #2EBEE7;
                }

                &.soundcloud {
                    background: #FF722A;
                }

                &.behance {
                    background: #156EFD;
                }

                &.github {
                    background: #3786C4;
                }
            }
        }
    }
}