@import './variables.scss';

.footer {
    height: $footerHeight;
    background-color: $footerBgColor;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-top: 80px;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .copy {
            font-size: 12px;
            line-height: 14px;
            color: $lightTextColor;
            .copyright {
                font-size: 14px;
                line-height: 16px;
                margin-right: 10px;
            }
        }
    }
}