@import './variables';

.last-news {
  .ui.label {
    border-radius: 0;
    text-transform: uppercase;
  } 

  .widget-head {
    .submenu {
      display: flex;
      align-items: center;
    
      &-link {
        color: $titleColor;
        padding: 0 10px;
        font-size: 14px;
    
        &.active {
          color: $primaryColor;
        }
      }
    
      &-nav {
        color: $textColor;
        padding: 0 10px;
      }
    }
  }

  .widget-body {
    .label {
      position: absolute;
      top: 10px;
      left: 8px;
    }

    .items.short-news {
      .item > .image + .content {
        padding-left: 10px;
      }

      .item > .image {
        width: 120px;
      }

      .item .meta {
        margin: 0 0 5px;
        font-size: 12px;
        padding: 0;
      }
    }

    .main-new {
      .ui.placeholder {
        max-width: 100%;
      }

      .label {
        top: 30px; 
        left: 30px;
      }
    }
  }
}

