@import './variables';

.latest-galleries {
    .ui.grid > .column {
        display: flex;
        flex: 1 1 auto;
    }

    .widget-head {
        .arrows {
            font-size: 20px;
        }
    }
    
    .card {
        .content {
            padding: 0 20px 13px;
        }

        & > .image {
            border-radius: 0px !important;
        }

        .meta.stats {
            padding: 13px 0 10px;
        }
    }
}