.most-viewed {
    .widget-body {
        .ui.items > .item {
            .meta {
                margin-bottom: 5px;
                overflow: hidden;
            }
            
            & > .image {
                width: 130px;
                + .content {
                    padding-left: 15px;
                }
            }
        }
    }
}