@import './variables';

.upcoming-events {
    .card {
        border-radius: 0px;
        width: 100%;
        box-shadow: none;
        border: 1px solid $borderColor;

        .title {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: $titleColor;
            font-family: $titleFont;
        }

        .content {
            padding: 24px 30px 30px;
        }

        .label {
            font-size: 12px;
            line-height: 14px;
            color: $lightTextColor;
            background-color: $textColor;
            margin-top: 15px;
            margin-bottom: 13px;
        }

        & > .image {
            border-radius: 0px !important;
        }
    }
}