@import './variables';

.upcoming-events {
    .ui.grid > .column {
        display: flex;
    }
    
    .card {
        flex: 1 1 auto;
        .content {
            padding: 24px 30px 30px;
        }

        .event-labels {
            margin-top: 15px;
            margin-bottom: 13px;
        }

        & > .image {
            border-radius: 0px !important;
        }
    }
}