.upcoming-events {
    .ui.grid > .column {
        display: flex;
        flex: 1 1 auto;
    }
    
    .card {
        .ui.label {
            margin-bottom: 5px;
        }

        .content {
            padding: 24px 30px 30px;
        }

        .event-labels {
            margin-top: 15px;
            margin-bottom: 13px;
        }

        & > .image {
            border-radius: 0px !important;
        }
    }
}