$titleFont: "Poppins", sans-serif;
$textFont: "Lato", sans-serif;
$robotoFont: 'Roboto', sans-serif;
$primaryColor: #3389FF;
$titleColor: #161618;
$textColor: #AAAAAA;
$borderColor: #D1D1D1;
$lightTextColor: #ffffff;
$footerBgColor: #161618;
$footerHeight: 60px;
